[package]
name = "dlt-core"
version = "0.14.0"
authors = ["esrlabs.com"]
edition = "2021"
description = """
Parser and writer for autosar DLT Diagnostic Log and Trace
"""
license = "Apache-2.0"
repository = "https://github.com/esrlabs/dlt-core"

[dependencies]
buf_redux = "0.8.4"
byteorder = "1.4"
bytes = "1.0"
derive_more = "0.99.13"
lazy_static = "1.4"
log = "0.4"
memchr = "2.4"
nom = "7.1"
quick-xml = "0.22"
rustc-hash = "1.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"

[features]
default = []

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }
dirs = "4.0"
env_logger = "0.9.0"
pretty_assertions = "1.0.0"
proptest = "1.0"
proptest-derive = "0.3"
stringreader = "0.1.1"

[[bench]]
name = "dlt_benchmarks"
harness = false
